[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/bpajic
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/bpajic
	label-Verified = -1..+1 group user/bpajic
	push = group user/bpajic
	read = group user/bpajic
	rebase = group user/bpajic
	removeReviewer = group user/bpajic
	submit = group user/bpajic
[access "refs/heads/*"]
	create = group user/bpajic
	push = +force group user/bpajic
	pushMerge = group user/bpajic
	read = group user/bpajic
[access "refs/tags/*"]
	push = group user/bpajic
	push = +force group user/bpajic
